@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,600&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .max-h-600 {
        height: 600px;
    }
}

.global-rounded {
    @apply rounded-none;
}

.shadow {
    @apply drop-shadow-xl;
}

.temp-border {
    @apply border border-black;
}

.SfxModal-Wrapper {
    z-index: 20001 !important;
}
.SfxPopper-wrapper {
    z-index: 20002 !important;
}

@layer components {
    .index-background {
        @apply min-h-screen;
    }
    .primary-container {
        @apply rounded-global p-4 shadow;
    }
    .secondary-container {
    }
    .card-container {
        @apply rounded-global bg-white shadow;
    }
    .modal-container {
        @apply rounded-global bg-white;
    }
    .editor-container {
        @apply p-6;
    }
    .comment-container {
        @apply rounded-global bg-white p-6;
    }
    .card-status-indicator-running {
        @apply flex h-16 flex-row items-center justify-between rounded-b-global border-t bg-gray-50 p-2;
    }
    .card-status-indicator {
        @apply flex h-16 flex-col items-center justify-center rounded-b-global text-xs;
    }
    .card-status-indicator-expired {
        @apply card-status-indicator bg-warning text-white;
    }
    .card-status-indicator-settled {
        @apply card-status-indicator bg-success text-white;
    }
    .content-block {
        @apply rounded-global bg-white p-6 shadow;
    }
    .ask-header-block {
        @apply rounded-global bg-white;
    }
}
